/*
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

mat-dialog-container#modal-component {
    position: absolute;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 40%;
    top:20%;
    border-radius: 11px;
    background-color: #ebebeb;
}
*/