.spacer {
    flex: 1;
}

.spacer-left{
    flex: 0.01;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #linkedin-logo {
    height: 40px;
    margin: 0px 10px 0px 10px;
  }

  .toolbar #facebook-logo {
    height: 40px;
    margin: 0px 10px 0px 10px;
  }

  .toolbar #instagram-logo {
    height: 40px;
    margin: 0px 10px 0px 10px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0px 16px 0px 10px;
  }

  .toolbar #linkedin-logo:hover,
  .toolbar #facebook-logo:hover,
  .toolbar #instagram-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .icon_color {fill:#FEFEFE;fill-rule:nonzero}
