/*#modal-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#modal-title {
    font-size: 22px;
}

#modal-footer {
    position: absolute;
    top:70%;
}

#modal-action-button {
    margin-right: 30px;
    background-color:#c0c0c0;
}

#modal-cancel-button {
    background-color: #e0e0e0;
}*/