<!--ng generate component [nome]-->
<app-header></app-header>


<div class="content" role="main">

  <h2>Microservices</h2>
  <p>Microservices publicados na Amazon AWS - Elastic Beanstalk:</p>

  <div class="card-container">
    <a class="card" (click)="selection.value = 'persistenciausuarioData'">
      <span>Usuarios</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" (click)="selection.value = 'persistenciagrupoData'">
      <span>Grupos</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>

  <h2>AWS</h2>
  <p>APIs na AWS</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'persistenciausuario'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Persistencia Usuário</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'persistenciagrupo'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Persistencia Grupo</span>
    </div>

  </div>

  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>...</pre>
      <pre *ngSwitchCase="'persistenciausuario'">http://db-ms-persistenciausuario.us-east-2.elasticbeanstalk.com/persistenciaUsuario</pre>
      <pre *ngSwitchCase="'persistenciagrupo'">http://db-ms-persistenciagrupo.us-east-2.elasticbeanstalk.com/persistenciaGrupo</pre>
      <pre *ngSwitchCase="'persistenciagrupoData'">
          <app-persistencia-grupo></app-persistencia-grupo>
      </pre>
      <pre *ngSwitchCase="'persistenciausuarioData'">
        <app-persistencia-usuario></app-persistencia-usuario>
    </pre>

  </div>

  <app-footer></app-footer>

</div>

