<table style="width: 100%;">
    <thead style="color:#000000;background-color: #cccccc;">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Login</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataSource">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.login }}</td>
            <td>{{ item.email }}</td>
        </tr>
    </tbody>
    </table>